@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;

  box-sizing: border-box;
}

body {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  color: white;
}

::-webkit-scrollbar {
  width: 0.1rem;
  height: 0.2rem;
  /* display: none; */
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #facc15;
  border-radius: 3.75rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #584e6b;
}

.text-str {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 5px;
}

.gallery {
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
}

input::placeholder,
textarea::placeholder {
  transition: transform 0.3s ease-in-out;
}

input:focus::placeholder,
textarea:focus::placeholder {
  transform: translate(-16px, -20px);
  font-size: 10px;
}

.map {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
