@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/*html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-scrolling iframe {
  pointer-events: none;
} */
* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;

  box-sizing: border-box;
}

body {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  color: white;
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
  display: none;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 3.75rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #584e6b;
}

.text-str {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 5px;
}

.gallery {
  clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
}
